body {
    background-color: black;
}

.body {
    height: 500px;
    width: 450px;
    position: relative;
    margin: auto;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}

.display {
    height: 22%;
    width: 100%;
    border: 1px solid #00ff00;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    left: 0;
    right: 0;
    margin: 10px auto;
    overflow: hidden;
}

.displayText {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #00ff00;
    font-size: 2em;
}

.keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px;
    grid-gap: 5px;
    height: 80%;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid purple;
    border-radius: 10px;
    color: #00ff0088;
}

.operator, .equal, .parenthesis {
    font-size: 2.0em;
    background-color:#00ff003d;
    border: 1px solid #00ff00a9;
}

.digit, .decimal {
    font-size: 1.5em;
    background-color: rgba(128, 0, 128, 0.274);
}