.body {
    height: 500px;
    width: 350px;
    border: 1px solid black;
    border-radius: 25px;
    position: relative;
    margin: auto;
}

.display {
    height: 10%;
    width: 95%;
    border: 1px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    left: 0;
    right: 0;
    margin: 10px auto;
}

.keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px;
    grid-template-areas: 
        "clear clear clear clear";
    grid-gap: 5px;
    height: 80%;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gold;
    border-radius: 10px;
}

.clear {
    grid-area: clear;
}