.body {
    height: 500px;
    width: 350px;
    border: 1px solid black;
    border-radius: 25px;
    position: relative;
    margin: auto;
}

.display {
    height: 10%;
    width: 95%;
    border: 1px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    top: 2.0%;
    left: 0;
    right: 0;
    margin: auto;
}

.numberKeys {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
}

.numberKeys div {
    border: 1px solid black;
}